.navbar__search {
  width: 250px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #67dbdb;
}
.navbar__search > input {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 7px 60px 7px 20px;
  font-size: 1rem;
  border-radius: 20px;
  color: var(--txt-color);
}
.navbar__search > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}
